<a href="https://colab.research.google.com/github/electrojam/Curso-de-Python-para-Ciencia-de-Datos/blob/main/Clase18_Agrupaciones_con_groupby18_32.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
path = '/content/online_retail.csv'
df = pd.read_csv(path)

### Groupby

In [4]:
# frecuencia de datos de col Country
country_counts = df['Country'].value_counts()
print(country_counts)

Country
United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: count, dtype: int64

In [5]:
# Agrupamos por Country para calcular la suma total de la columna Quantity
country_group = df.groupby('Country')['Quantity'].sum()
print(country_group)

Country
Australia                 83653
Austria                    4827
Bahrain                     260
Belgium                   23152
Brazil                      356
Canada                     2763
Channel Islands            9479
Cyprus                     6317
Czech Republic              592
Denmark                    8188
EIRE                     142637
European Community          497
Finland                   10666
France                   110480
Germany                  117448
Greece                     1556
Hong Kong                  4769
Iceland                    2458
Israel                     4353
Italy                      7999
Japan                     25218
Lebanon                     386
Lithuania                   652
Malta                       944
Netherlands              200128
Norway                    19247
Poland                     3653
Portugal                  16180
RSA                         352
Saudi Arabia                 75
Singapore                  5234
Spain                     26824
Sweden                    35637
Switzerland               30325
USA                        1034
United Arab Emirates        982
United Kingdom          4263829
Unspecified                3300
Name: Quantity, dtype: int64

In [8]:
# Agrupamos por Country, y calculamos la media y la suma total de UnitPrice, es decir...
# Calculamos la media y suma total de los precios unitarios por país
country_stats = df.groupby('Country')['UnitPrice'].agg(['mean', 'sum'])
print(country_stats)

                            mean          sum
Country
Australia               3.220612     4054.750
Austria                 4.243192     1701.520
Bahrain                 4.556316       86.570
Belgium                 3.644335     7540.130
Brazil                  4.456250      142.600
Canada                  6.030331      910.580
Channel Islands         4.932124     3738.550
Cyprus                  6.302363     3920.070
Czech Republic          2.938333       88.150
Denmark                 3.256941     1266.950
EIRE                    5.911077    48447.190
European Community      4.820492      294.050
Finland                 5.448705     3786.850
France                  5.028864    43031.990
Germany                 3.966930    37666.000
Greece                  4.885548      713.290
Hong Kong              42.505208    12241.500
Iceland                 2.644011      481.210
Israel                  3.633131     1079.040
Italy                   4.831121     3879.390
Japan                   2.276145      814.860
Lebanon                 5.387556      242.440
Lithuania               2.841143       99.440
Malta                   5.244173      666.010
Netherlands             2.738317     6492.550
Norway                  6.012026     6529.060
Poland                  4.170880     1422.270
Portugal                8.582976    13037.540
RSA                     4.277586      248.100
Saudi Arabia            2.411000       24.110
Singapore             109.645808    25108.890
Spain                   4.987544    12633.450
Sweden                  3.910887     1806.830
Switzerland             3.403442     6813.690
USA                     2.216426      644.980
United Arab Emirates    3.380735      229.890
United Kingdom          4.532422  2245715.474
Unspecified             2.699574     1204.010

In [9]:
# Agrupación múltiple
# Agrupamos por col Country y StockCode, y calculamos la suma total de Quantity
country_stock_group = df.groupby(['Country', 'StockCode'])['Quantity'].sum()
print(country_stock_group)

Country      StockCode
Australia    15036        600
             15056BL        3
             16161P       400
             16169E        25
             20665          6
                         ...
Unspecified  85180A         2
             85180B         1
             85212         12
             85213         12
             85227         10
Name: Quantity, Length: 19839, dtype: int64

In [10]:
# Agrupamos y le aplicamos una función definida a esa agrupación

# Función que toma agrupación por Country, multiplica Quantity * UnitPrice y los suma por Country paises
def total_revenue(group):
  return ((group['Quantity'] * group['UnitPrice']).sum())

# Agrupamos por Country, y le aplicamos función total_revenue
revenue_per_country = df.groupby('Country').apply(total_revenue)
print(revenue_per_country.head(10))

Country
Australia          137077.27
Austria             10154.32
Bahrain               548.40
Belgium             40910.96
Brazil               1143.60
Canada               3666.38
Channel Islands     20086.29
Cyprus              12946.29
Czech Republic        707.72
Denmark             18768.14
dtype: float64

### Ejercicio
- ¿Cual es el top 3 de mejores países en ventas?
- ¿Cuál es el top 3 de peores países enventas?

#### Top 3 mejores países en ventas

In [17]:
# Función multiplica Quantity * UnitPrice, los suma por Country paises y ordena descendente
def total_revenue(group):
  return ((group['Quantity'] * group['UnitPrice']).sum())

revenue_per_country = df.groupby('Country').apply(total_revenue)
rank_country_best = revenue_per_country.sort_values(ascending = False)
print('Los 3 países con mejores ventas son: \n',rank_country_best.head(3))


rank_country_worst = revenue_per_country.sort_values(ascending = True)
print('\nLos 3 países con peores ventas son: \n', rank_country_worst.head(3
                                                                        ))

Los 3 países con mejores ventas son:
 Country
United Kingdom    8187806.364
Netherlands        284661.540
EIRE               263276.820
dtype: float64

Los 3 países con peores ventas son:
 Country
Saudi Arabia      131.17
Bahrain           548.40
Czech Republic    707.72
dtype: float64