<a href="https://colab.research.google.com/github/electrojam/Curso-de-Python-para-Ciencia-de-Datos/blob/main/Clase21_Fusi%C3%B3n_de_DataFrames_en_Pandas21_32.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
# Crear DataFrames de ejemplo
df1 = pd.DataFrame({
    'key': ['A','B','C'],
    'value1' : [1,2,3]
})

df2 = pd.DataFrame({
    'key': ['B','C','D'],
    'value2': [4,5,6]
})

print(df1)
print(df2)

  key  value1
0   A       1
1   B       2
2   C       3
  key  value2
0   B       4
1   C       5
2   D       6

#### Join mediante **Merge**
Merge se tiene en cuenta los valores de una columna para el join, en este caso 'key'

In [8]:
# Inner Join
inner_merged = pd.merge(df1, df2, how='inner', on='key')
print(inner_merged)

  key  value1  value2
0   B       2       4
1   C       3       5

In [7]:
# Outer Join
outer_join = pd.merge(df1, df2, how='outer', on='key' )
print(outer_join)

  key  value1  value2
0   A     1.0     NaN
1   B     2.0     4.0
2   C     3.0     5.0
3   D     NaN     6.0

In [9]:
# Left Join
left_merge = pd.merge(df1, df2, how='left', on='key')
print(left_merge)

  key  value1  value2
0   A       1     NaN
1   B       2     4.0
2   C       3     5.0

In [10]:
# Right Join
right_merge = pd.merge(df1, df2, how='right', on='key')
print(right_merge)

  key  value1  value2
0   B     2.0       4
1   C     3.0       5
2   D     NaN       6

#### **Concatenate**

In [12]:
df3 = pd.DataFrame({
    'A': ['A0','A1','A2'],
    'B': ['B0','B1','B2']
})

df4 = pd.DataFrame({
    'A': ['A3','A4','A5'],
    'B': ['B3','B4','B5']
})

print(df3,'\n')
print(df4)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2

    A   B
0  A3  B3
1  A4  B4
2  A5  B5

#### Join mediante **Join**
join se tienen en cuenta los índices de los df para hacer el join, en este caso K0, K1, K2 del df5 y K0, K2, K3 del df6.

In [13]:
df5 = pd.DataFrame({
    'A': ['A0','A1','A2'],
    'B': ['B0','B1','B2']
}, index=['K0','K1','K2'])

df6 = pd.DataFrame({
    'C': ['C0','C1','C2'],
    'D': ['D0','D1','D2']
}, index=['K0','K2','K3'])

print(df5, '\n')
print(df6)

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

     C   D
K0  C0  D0
K2  C1  D1
K3  C2  D2

In [14]:
# Join especificando índices
joined = df5.join(df6, how='inner')
print(joined)

     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C1  D1

### Reto
Hacer merge entre df retail_data y world_poblation
https://github.com/bnokoro/Data-Science/blob/7fe6edb692afbb6494694c2601c5c554522ea742/countries%20of%20the%20world.csv

In [62]:
world_population = pd.read_csv('https://raw.githubusercontent.com/manya-gangoli/World-Population-2024-EDA-and-prediction/refs/heads/main/World%20Population%20by%20country%202024.csv')
print(world_population)

              Country  Population 2024  Population 2023 Area (km2)  \
0               India       1441719852       1428627663         3M
1               China       1425178782       1425671352       9.4M
2       United States        341814420        339996563       9.1M
3           Indonesia        279798049        277534122       1.9M
4            Pakistan        245209815        240485658     770.9K
..                ...              ...              ...        ...
229        Montserrat             4372             4386        102
230  Falkland Islands             3803             3791      12.2K
231              Niue             1935             1935        261
232           Tokelau             1915             1893         10
233      Vatican City              526              518        < 1

     Density (/km2)  Growth Rate  World %  World Rank
0            485.00       0.0092   0.1801           1
1            151.00      -0.0003   0.1780           2
2             37.00       0.0053   0.0427           3
3            149.00       0.0082   0.0350           4
4            318.00       0.0196   0.0306           5
..              ...          ...      ...         ...
229           43.00      -0.0032      NaN         230
230            0.31       0.0032      NaN         231
231            7.00       0.0000      NaN         232
232          192.00       0.0116      NaN         233
233         1195.00       0.0154      NaN         234

[234 rows x 8 columns]

In [63]:
retail_data = pd.read_csv('https://raw.githubusercontent.com/databricks/Spark-The-Definitive-Guide/refs/heads/master/data/retail-data/all/online-retail-dataset.csv')
print(retail_data)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

            InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/2010 8:26       2.55     17850.0  United Kingdom
1        12/1/2010 8:26       3.39     17850.0  United Kingdom
2        12/1/2010 8:26       2.75     17850.0  United Kingdom
3        12/1/2010 8:26       3.39     17850.0  United Kingdom
4        12/1/2010 8:26       3.39     17850.0  United Kingdom
...                 ...        ...         ...             ...
541904  12/9/2011 12:50       0.85     12680.0          France
541905  12/9/2011 12:50       2.10     12680.0          France
541906  12/9/2011 12:50       4.15     12680.0          France
541907  12/9/2011 12:50       4.15     12680.0          France
541908  12/9/2011 12:50       4.95     12680.0          France

[541909 rows x 8 columns]

In [28]:
world_population.columns

Index(['Country', 'Population 2024', 'Population 2023', 'Area (km2)',
       'Density (/km2)', 'Growth Rate', 'World %', 'World Rank'],
      dtype='object')

In [32]:
 # verificamos si hay nombre de 'Country' repetidos
count_country_duplicate = pd.DataFrame(world_population['Country'].value_counts())
print(count_country_duplicate.loc[count_country_duplicate['count'] > 1])

Empty DataFrame
Columns: [count]
Index: []

In [64]:
# filtramos columnas 'Country' y 'Population 2024'
country_population = world_population[['Country', 'Population 2024']]
print(country_population)

              Country  Population 2024
0               India       1441719852
1               China       1425178782
2       United States        341814420
3           Indonesia        279798049
4            Pakistan        245209815
..                ...              ...
229        Montserrat             4372
230  Falkland Islands             3803
231              Niue             1935
232           Tokelau             1915
233      Vatican City              526

[234 rows x 2 columns]

In [54]:
# Hacer left join con merge

left_merge_join = pd.merge(retail_data, country_population, how='inner', on='Country')
print(left_merge_join)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
532094   C579929     22768           FAMILY PHOTO FRAME CORNICE        -2
532095   C579929    85034C          3 ROSE MORRIS BOXED CANDLES        -1
532096   C579929    72807C  SET/3 VANILLA SCENTED CANDLE IN BOX        -1
532097   C579929     22307     GOLD MUG BONE CHINA TREE OF LIFE        -1
532098   C579929     72741                GRAND CHOCOLATECANDLE        -3

           InvoiceDate  UnitPrice  CustomerID         Country  Population 2024
0       12/1/2010 8:26       2.55     17850.0  United Kingdom         67961439
1       12/1/2010 8:26       3.39     17850.0  United Kingdom         67961439
2       12/1/2010 8:26       2.75     17850.0  United Kingdom         67961439
3       12/1/2010 8:26       3.39     17850.0  United Kingdom         67961439
4       12/1/2010 8:26       3.39     17850.0  United Kingdom         67961439
...                ...        ...         ...             ...              ...
532094  12/1/2011 9:34       9.95     17828.0           Malta           536740
532095  12/1/2011 9:34       1.25     17828.0           Malta           536740
532096  12/1/2011 9:34       4.25     17828.0           Malta           536740
532097  12/1/2011 9:34       1.06     17828.0           Malta           536740
532098  12/1/2011 9:34       1.45     17828.0           Malta           536740

[532099 rows x 9 columns]