<a href="https://colab.research.google.com/github/electrojam/Curso-de-Python-para-Ciencia-de-Datos/blob/main/Clase20_Reestructuraci%C3%B3n_de_datos_Pivot_y_Reshape_en_Pandas20_32.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# Leer dataset de archivo csv
file_path = 'https://raw.githubusercontent.com/databricks/Spark-The-Definitive-Guide/refs/heads/master/data/retail-data/all/online-retail-dataset.csv'
sales_data = pd.read_csv(file_path)

In [3]:
# Convertir columna 'InvoiceDate' a tipo datetime
sales_data['InvoiceDate'] = pd.to_datetime(sales_data['InvoiceDate'])

In [4]:
# Eliminar filas con valores faltantes en columnas críticas 'CustomerID', 'InvoiceDate'
sales_data.dropna(subset=['Quantity', 'InvoiceDate'], inplace = True)

In [5]:
# Crear columna 'TotalPrice' = 'Quantity' * 'UnitPrice'
sales_data['TotalPrice'] = sales_data['Quantity'] * sales_data['UnitPrice']

In [6]:
sales_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

In [7]:
# pivot table
# sumar valores de Quantity, filas o index 'Country', columnas 'StockCode'
pivot_table = pd.pivot_table(sales_data,
                             values='Quantity',
                             index='Country',
                             columns='StockCode',
                             aggfunc='sum')
print(pivot_table)

StockCode             10002  10080  10120  10123C  10123G  10124A  10124G  \
Country
Australia               NaN    NaN    NaN     NaN     NaN     NaN     NaN
Austria                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
Bahrain                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
Belgium                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
Brazil                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Canada                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Channel Islands         NaN    NaN    NaN     NaN     NaN     NaN     NaN
Cyprus                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Czech Republic          NaN    NaN    NaN     NaN     NaN     NaN     NaN
Denmark                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
EIRE                   12.0    NaN    NaN     NaN     NaN     NaN     NaN
European Community      NaN    NaN    NaN     NaN     NaN     NaN     NaN
Finland                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
France                372.0    NaN   10.0     NaN     NaN     NaN     NaN
Germany                 1.0    NaN    NaN     NaN     NaN     NaN     NaN
Greece                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Hong Kong               NaN    NaN    NaN     NaN     NaN     NaN     NaN
Iceland                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
Israel                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Italy                   NaN    NaN    NaN     NaN     NaN     NaN     NaN
Japan                   1.0    NaN    NaN     NaN     NaN     NaN     NaN
Lebanon                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
Lithuania               NaN    NaN    NaN     NaN     NaN     NaN     NaN
Malta                   NaN    NaN    NaN     NaN     NaN     NaN     NaN
Netherlands             NaN    NaN    NaN     NaN     NaN     NaN     NaN
Norway                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Poland                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Portugal                NaN    NaN    NaN     NaN     NaN     NaN     NaN
RSA                     NaN    NaN    NaN     NaN     NaN     NaN     NaN
Saudi Arabia            NaN    NaN    NaN     NaN     NaN     NaN     NaN
Singapore               NaN    NaN    NaN     NaN     NaN     NaN     NaN
Spain                  24.0    NaN    NaN     NaN     NaN     NaN     NaN
Sweden                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Switzerland            12.0    NaN    NaN     NaN     NaN     NaN     NaN
USA                     NaN    NaN    NaN     NaN     NaN     NaN     NaN
United Arab Emirates    NaN    NaN    NaN     NaN     NaN     NaN     NaN
United Kingdom        615.0  495.0  183.0   -13.0   -38.0    16.0    17.0
Unspecified             NaN    NaN    NaN     NaN     NaN     NaN     NaN

StockCode             10125   10133  10134  ...       M  PADS    POST     S  \
Country                                     ...
Australia               NaN     NaN    NaN  ...     NaN   NaN     0.0   NaN
Austria                 NaN     NaN    NaN  ...     NaN   NaN    37.0   NaN
Bahrain                 NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
Belgium                 NaN     NaN    NaN  ...     NaN   NaN   272.0   NaN
Brazil                  NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
Canada                  NaN    40.0    NaN  ...     NaN   NaN     1.0   NaN
Channel Islands         NaN     NaN    NaN  ...     0.0   NaN     NaN   NaN
Cyprus                  NaN     NaN    NaN  ...     0.0   NaN     1.0   NaN
Czech Republic          NaN     NaN    NaN  ...     NaN   NaN     0.0   NaN
Denmark                 NaN     NaN    NaN  ...     NaN   NaN    41.0   NaN
EIRE                    NaN    40.0    NaN  ...    -2.0   NaN     NaN   NaN
European Community      NaN     NaN    NaN  ...     NaN   NaN     9.0   NaN
Finland                 NaN     NaN    NaN  ...     2.0   NaN    89.0   NaN
France                470.0     NaN    NaN  ...   -16.0   NaN   803.0   NaN
Germany               120.0     NaN    NaN  ...     2.0   NaN  1104.0   NaN
Greece                  NaN     NaN    NaN  ...     NaN   NaN     6.0   NaN
Hong Kong               NaN     NaN    NaN  ...     0.0   NaN     2.0   NaN
Iceland                 NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
Israel                  NaN    20.0    NaN  ...     NaN   NaN     NaN   NaN
Italy                   NaN     NaN    NaN  ...    -1.0   NaN    44.0   NaN
Japan                   NaN     NaN    NaN  ...    -3.0   NaN     NaN   NaN
Lebanon                 NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
Lithuania               NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
Malta                   NaN     NaN    NaN  ...     NaN   NaN    10.0   NaN
Netherlands             NaN     NaN    NaN  ...  -480.0   NaN    99.0   NaN
Norway                  NaN     NaN    NaN  ...     0.0   NaN    57.0   NaN
Poland                  NaN     NaN    NaN  ...     NaN   NaN     9.0   NaN
Portugal                NaN    20.0    NaN  ...     1.0   NaN    97.0   NaN
RSA                     NaN     NaN    NaN  ...     1.0   NaN     NaN   NaN
Saudi Arabia            NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
Singapore               NaN     NaN    NaN  ...     0.0   NaN     NaN   NaN
Spain                   NaN     NaN    NaN  ...    -3.0   NaN   209.0   NaN
Sweden                  NaN     NaN    NaN  ...     1.0   NaN    37.0   NaN
Switzerland            20.0    10.0    NaN  ...     NaN   NaN    97.0   NaN
USA                     NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
United Arab Emirates    NaN     NaN    NaN  ...     NaN   NaN     1.0   NaN
United Kingdom        686.0  2645.0  -19.0  ...  3662.0   4.0  3328.0 -59.0
Unspecified             NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN

StockCode             gift_0001_10  gift_0001_20  gift_0001_30  gift_0001_40  \
Country
Australia                      NaN           NaN           NaN           NaN
Austria                        NaN           NaN           NaN           NaN
Bahrain                        NaN           NaN           NaN           NaN
Belgium                        NaN           NaN           NaN           NaN
Brazil                         NaN           NaN           NaN           NaN
Canada                         NaN           NaN           NaN           NaN
Channel Islands                NaN           NaN           NaN           NaN
Cyprus                         NaN           NaN           NaN           NaN
Czech Republic                 NaN           NaN           NaN           NaN
Denmark                        NaN           NaN           NaN           NaN
EIRE                           NaN           NaN           NaN           NaN
European Community             NaN           NaN           NaN           NaN
Finland                        NaN           NaN           NaN           NaN
France                         NaN           NaN           NaN           NaN
Germany                        NaN           NaN           NaN           NaN
Greece                         NaN           NaN           NaN           NaN
Hong Kong                      NaN           NaN           NaN           NaN
Iceland                        NaN           NaN           NaN           NaN
Israel                         NaN           NaN           NaN           NaN
Italy                          NaN           NaN           NaN           NaN
Japan                          NaN           NaN           NaN           NaN
Lebanon                        NaN           NaN           NaN           NaN
Lithuania                      NaN           NaN           NaN           NaN
Malta                          NaN           NaN           NaN           NaN
Netherlands                    NaN           NaN           NaN           NaN
Norway                         NaN           NaN           NaN           NaN
Poland                         NaN           NaN           NaN           NaN
Portugal                       NaN           NaN           NaN           NaN
RSA                            NaN           NaN           NaN           NaN
Saudi Arabia                   NaN           NaN           NaN           NaN
Singapore                      NaN           NaN           NaN           NaN
Spain                          NaN           NaN           NaN           NaN
Sweden                         NaN           NaN           NaN           NaN
Switzerland                    NaN           NaN           NaN           NaN
USA                            NaN           NaN           NaN           NaN
United Arab Emirates           NaN           NaN           NaN           NaN
United Kingdom                39.0          20.0          37.0           3.0
Unspecified                    NaN           NaN           NaN           NaN

StockCode             gift_0001_50    m
Country
Australia                      NaN  NaN
Austria                        NaN  NaN
Bahrain                        NaN  NaN
Belgium                        NaN  NaN
Brazil                         NaN  NaN
Canada                         NaN  NaN
Channel Islands                NaN  NaN
Cyprus                         NaN  NaN
Czech Republic                 NaN  NaN
Denmark                        NaN  NaN
EIRE                           NaN  NaN
European Community             NaN  NaN
Finland                        NaN  NaN
France                         NaN  NaN
Germany                        NaN  NaN
Greece                         NaN  NaN
Hong Kong                      NaN  NaN
Iceland                        NaN  NaN
Israel                         NaN  NaN
Italy                          NaN  NaN
Japan                          NaN  NaN
Lebanon                        NaN  NaN
Lithuania                      NaN  NaN
Malta                          NaN  NaN
Netherlands                    NaN  NaN
Norway                         NaN  NaN
Poland                         NaN  NaN
Portugal                       NaN  NaN
RSA                            NaN  NaN
Saudi Arabia                   NaN  NaN
Singapore                      NaN  NaN
Spain                          NaN  NaN
Sweden                         NaN  NaN
Switzerland                    NaN  NaN
USA                            NaN  NaN
United Arab Emirates           NaN  NaN
United Kingdom                 4.0  1.0
Unspecified                    NaN  NaN

[38 rows x 4070 columns]

In [8]:
# Si se quiere agregar más columnas al pivot table
'''
pivot_table = pd.pivot_table(sales_data,
                             values='Quantity',
                             index='Country',
                             columns=['StockCode', 'OtraColumna'],
                             aggfunc='sum')
'''

"\npivot_table = pd.pivot_table(sales_data,\n                             values='Quantity',\n                             index='Country',\n                             columns=['StockCode', 'OtraColumna'],\n                             aggfunc='sum')\n"

In [9]:
# Transformar df, apilar y desapilar información
df = pd.DataFrame({
    'A': ['foo', 'bar','baz'],
    'B': [1, 2,3],
    'C': [4, 5, 6]
})

print(df)

     A  B  C
0  foo  1  4
1  bar  2  5
2  baz  3  6

In [10]:
# Apilar stack
df_stack = df.stack()
print(df_stack)

0  A    foo
   B      1
   C      4
1  A    bar
   B      2
   C      5
2  A    baz
   B      3
   C      6
dtype: object

In [11]:
# Desapilar
df_unstack = df_stack.unstack()
print(df_unstack)

     A  B  C
0  foo  1  4
1  bar  2  5
2  baz  3  6