<a href="https://colab.research.google.com/github/electrojam/Curso-de-Python-para-Ciencia-de-Datos/blob/main/Clase16_Manejo_de_Datos_Faltantes_en_Pandas16_32.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
path = '/content/online_retail.csv'
retail_data = pd.read_csv(path)

#### Verificación de datos faltantes

In [4]:
# miramos si hay datos faltantes en df
missing_data = retail_data.isna()
print(missing_data)

        InvoiceNo  StockCode  Description  Quantity  InvoiceDate  UnitPrice  \
0           False      False        False     False        False      False
1           False      False        False     False        False      False
2           False      False        False     False        False      False
3           False      False        False     False        False      False
4           False      False        False     False        False      False
...           ...        ...          ...       ...          ...        ...
541904      False      False        False     False        False      False
541905      False      False        False     False        False      False
541906      False      False        False     False        False      False
541907      False      False        False     False        False      False
541908      False      False        False     False        False      False

        CustomerID  Country
0            False    False
1            False    False
2            False    False
3            False    False
4            False    False
...            ...      ...
541904       False    False
541905       False    False
541906       False    False
541907       False    False
541908       False    False

[541909 rows x 8 columns]

In [5]:
print(missing_data.head())

   InvoiceNo  StockCode  Description  Quantity  InvoiceDate  UnitPrice  \
0      False      False        False     False        False      False
1      False      False        False     False        False      False
2      False      False        False     False        False      False
3      False      False        False     False        False      False
4      False      False        False     False        False      False

   CustomerID  Country
0       False    False
1       False    False
2       False    False
3       False    False
4       False    False

In [7]:
# contamos datos faltantes por columnas
missing_data_count = retail_data.isna().sum()
print('Conteo de datos faltantes por columna:\n', missing_data_count)

Conteo de datos faltantes por columna:
 InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

#### Primera opción Eliminación de filas con datos faltantes

In [8]:
no_missing_rows = retail_data.dropna()
print('Data sin filas con valores faltantes: \n', no_missing_rows)

Data sin filas con valores faltantes:
        InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

            InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/2010 8:26       2.55     17850.0  United Kingdom
1        12/1/2010 8:26       3.39     17850.0  United Kingdom
2        12/1/2010 8:26       2.75     17850.0  United Kingdom
3        12/1/2010 8:26       3.39     17850.0  United Kingdom
4        12/1/2010 8:26       3.39     17850.0  United Kingdom
...                 ...        ...         ...             ...
541904  12/9/2011 12:50       0.85     12680.0          France
541905  12/9/2011 12:50       2.10     12680.0          France
541906  12/9/2011 12:50       4.15     12680.0          France
541907  12/9/2011 12:50       4.15     12680.0          France
541908  12/9/2011 12:50       4.95     12680.0          France

[406829 rows x 8 columns]

#### Segunda opción Elminación de columnas con datos faltantes

In [9]:
# eliminamos columnas axis=1 con datos faltantes
no_missing_columns = retail_data.dropna(axis=1)
print('Data sin columnas con valores faltantes: \n\n', no_missing_columns)

Data sin columnas con valores faltantes:

        InvoiceNo StockCode  Quantity      InvoiceDate  UnitPrice  \
0         536365    85123A         6   12/1/2010 8:26       2.55
1         536365     71053         6   12/1/2010 8:26       3.39
2         536365    84406B         8   12/1/2010 8:26       2.75
3         536365    84029G         6   12/1/2010 8:26       3.39
4         536365    84029E         6   12/1/2010 8:26       3.39
...          ...       ...       ...              ...        ...
541904    581587     22613        12  12/9/2011 12:50       0.85
541905    581587     22899         6  12/9/2011 12:50       2.10
541906    581587     23254         4  12/9/2011 12:50       4.15
541907    581587     23255         4  12/9/2011 12:50       4.15
541908    581587     22138         3  12/9/2011 12:50       4.95

               Country
0       United Kingdom
1       United Kingdom
2       United Kingdom
3       United Kingdom
4       United Kingdom
...                ...
541904          France
541905          France
541906          France
541907          France
541908          France

[541909 rows x 6 columns]

#### Tercera opción rellenar datos faltantes con 0 ceros

In [13]:
retail_data_filler_zeros = retail_data.fillna(0)  # llenamos datos null con 0
retail_data_filler_zeros_count = retail_data_filler_zeros.isna().sum()  # contamos datos null o faltantes
print(retail_data_filler_zeros)
print('='*20)
print('Cantidad de datos nullos: \n', retail_data_filler_zeros_count)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

            InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/2010 8:26       2.55     17850.0  United Kingdom
1        12/1/2010 8:26       3.39     17850.0  United Kingdom
2        12/1/2010 8:26       2.75     17850.0  United Kingdom
3        12/1/2010 8:26       3.39     17850.0  United Kingdom
4        12/1/2010 8:26       3.39     17850.0  United Kingdom
...                 ...        ...         ...             ...
541904  12/9/2011 12:50       0.85     12680.0          France
541905  12/9/2011 12:50       2.10     12680.0          France
541906  12/9/2011 12:50       4.15     12680.0          France
541907  12/9/2011 12:50       4.15     12680.0          France
541908  12/9/2011 12:50       4.95     12680.0          France

[541909 rows x 8 columns]
====================
Cantidad de datos nullos:
 InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

#### Cuarta opción aplicar la media de la columnas a los datos faltantes null

In [16]:
mean_unit_price = retail_data['UnitPrice'].mean() # calcula media de columna UnitPrice
retail_data_filled_mean = retail_data['UnitPrice'].fillna(mean_unit_price)  #llenamos con media valore null de UnitPrice
print(retail_data_filled_mean)
print('='*50)
print(retail_data_filled_mean.isna().sum())

0         2.55
1         3.39
2         2.75
3         3.39
4         3.39
          ...
541904    0.85
541905    2.10
541906    4.15
541907    4.15
541908    4.95
Name: UnitPrice, Length: 541909, dtype: float64
==================================================
0