<a href="https://colab.research.google.com/github/electrojam/Curso-de-Python-para-Ciencia-de-Datos/blob/main/Clase13_Creaci%C3%B3n_de_Dataframes_en_Pandas13_32.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import numpy as np

In [6]:
file_path = '/content/online_retail.csv'
sales_data = pd.read_csv(file_path)
print(sales_data.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55     17850.0  United Kingdom
1  12/1/2010 8:26       3.39     17850.0  United Kingdom
2  12/1/2010 8:26       2.75     17850.0  United Kingdom
3  12/1/2010 8:26       3.39     17850.0  United Kingdom
4  12/1/2010 8:26       3.39     17850.0  United Kingdom

#### Creaci贸n de un DataFrame desde un array con Pandas

In [8]:
data = np.array([[1,2,3], [4,5,6], [7,8,9]])
dt_from_array = pd.DataFrame(data, columns=['A','B','C'])
print(dt_from_array)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

#### Creaci贸n de un DataFrame desde una lista

In [11]:
data = [[1, 'Jhon', 22], [2,'Ana', 24]]
df_from_list = pd.DataFrame(data, columns = ['ID', 'Name', 'Age'])
print(df_from_list)

   ID  Name  Age
0   1  Jhon   22
1   2   Ana   24

#### Creaci贸n de un DataFrame desde un diccionario

In [12]:
data = [{'ID': 1,
         'Name': 'Jhon',
         'Age' : 22
         }]

df_from_dict_list = pd.DataFrame(data)
print(df_from_dict_list)

   ID  Name  Age
0   1  Jhon   22

In [13]:
data = {'ID' : [1,2,3], 'Name': ['Jhon', 'Ana', 'Mike'], 'Age': [22,24,21]}

df_from_dict = pd.DataFrame(data)
print(df_from_dict)

   ID  Name  Age
0   1  Jhon   22
1   2   Ana   24
2   3  Mike   21

#### Creaci贸n de un DataFrame desde un diccionario que tiene series

In [15]:
data = {
    'ID': pd.Series([1,2,3]),
    'Name': pd.Series(['Jhon', 'Ana', 'Mike']),
    'Age': pd.Series([22,24,21])
}
df_from_series_dict = pd.DataFrame(data)
print(df_from_series_dict)

   ID  Name  Age
0   1  Jhon   22
1   2   Ana   24
2   3  Mike   21