<a href="https://colab.research.google.com/github/electrojam/Curso-de-Python-para-Ciencia-de-Datos/blob/main/Clase19_Filtrado_de_datos_con_condiciones_en_Pandas19_32.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# Leer dataset de ventas desde archivo csv
file_path = 'https://raw.githubusercontent.com/databricks/Spark-The-Definitive-Guide/refs/heads/master/data/retail-data/all/online-retail-dataset.csv'
sales_data = pd.read_csv(file_path)

In [3]:
# Convertir columna 'InvoiceDate' a tipo datetime
sales_data['InvoiceDate'] = pd.to_datetime(sales_data['InvoiceDate'])

In [4]:
# Eliminar filas con valores faltantes en columnas críticas 'CustomerID', 'InvoiceDate'
sales_data.dropna(subset = ['CustomerID', 'InvoiceDate'], inplace = True)

In [5]:
# Crear columna 'TotalPrice' = 'Quantity' * 'UnitPrice'
sales_data['TotalPrice'] = sales_data['Quantity'] * sales_data['UnitPrice']

In [6]:
print(sales_data.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34

#### Filtrado
Filtramos las ventas en el Reino Unido - UK

In [7]:
# filtrar ventas por 'Country' == United Kingdom
uk_sales = sales_data[sales_data['Country'] == 'United Kingdom']
print(uk_sales)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541889    581585     22466       FAIRY TALE COTTAGE NIGHT LIGHT        12
541890    581586     22061  LARGE CAKE STAND  HANGING STRAWBERY         8
541891    581586     23275     SET OF 3 HANGING OWLS OLLIE BEAK        24
541892    581586     21217        RED RETROSPOT ROUND CAKE TINS        24
541893    581586     20685                DOORMAT RED RETROSPOT        10

               InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
0      2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1      2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2      2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3      2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4      2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
...                    ...        ...         ...             ...         ...
541889 2011-12-09 12:31:00       1.95     15804.0  United Kingdom       23.40
541890 2011-12-09 12:49:00       2.95     13113.0  United Kingdom       23.60
541891 2011-12-09 12:49:00       1.25     13113.0  United Kingdom       30.00
541892 2011-12-09 12:49:00       8.95     13113.0  United Kingdom      214.80
541893 2011-12-09 12:49:00       7.08     13113.0  United Kingdom       70.80

[361878 rows x 9 columns]

In [8]:
# Filtrar por valor Quantity > 10
high_quantity_sales = sales_data[sales_data['Quantity'] > 10]
print(high_quantity_sales)

       InvoiceNo StockCode                      Description  Quantity  \
9         536367     84879    ASSORTED COLOUR BIRD ORNAMENT        32
26        536370     22728        ALARM CLOCK BAKELIKE PINK        24
27        536370     22727        ALARM CLOCK BAKELIKE RED         24
28        536370     22726       ALARM CLOCK BAKELIKE GREEN        12
29        536370     21724  PANDA AND BUNNIES STICKER SHEET        12
...          ...       ...                              ...       ...
541894    581587     22631         CIRCUS PARADE LUNCH BOX         12
541895    581587     22556   PLASTERS IN TIN CIRCUS PARADE         12
541896    581587     22555        PLASTERS IN TIN STRONGMAN        12
541902    581587     22629              SPACEBOY LUNCH BOX         12
541904    581587     22613      PACK OF 20 SPACEBOY NAPKINS        12

               InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
9      2010-12-01 08:34:00       1.69     13047.0  United Kingdom       54.08
26     2010-12-01 08:45:00       3.75     12583.0          France       90.00
27     2010-12-01 08:45:00       3.75     12583.0          France       90.00
28     2010-12-01 08:45:00       3.75     12583.0          France       45.00
29     2010-12-01 08:45:00       0.85     12583.0          France       10.20
...                    ...        ...         ...             ...         ...
541894 2011-12-09 12:50:00       1.95     12680.0          France       23.40
541895 2011-12-09 12:50:00       1.65     12680.0          France       19.80
541896 2011-12-09 12:50:00       1.65     12680.0          France       19.80
541902 2011-12-09 12:50:00       1.95     12680.0          France       23.40
541904 2011-12-09 12:50:00       0.85     12680.0          France       10.20

[126312 rows x 9 columns]

In [9]:
# Filtrar por varios criterios

# Filtrar Quantity > 80 y 'Country' == United Kingdom
uk_high_quantity_sales = sales_data[(sales_data['Country'] == 'United Kingdom') &
                                    (sales_data['Quantity'] == 80)]
print(uk_high_quantity_sales)

       InvoiceNo StockCode                        Description  Quantity  \
46        536371     22086    PAPER CHAIN KIT 50'S CHRISTMAS         80
1228      536531     22086    PAPER CHAIN KIT 50'S CHRISTMAS         80
1333      536536     84879      ASSORTED COLOUR BIRD ORNAMENT        80
5226      536848     22910  PAPER CHAIN KIT VINTAGE CHRISTMAS        80
7432      537038     22086    PAPER CHAIN KIT 50'S CHRISTMAS         80
...          ...       ...                                ...       ...
530197    580822     16218         CARTOON  PENCIL SHARPENERS        80
530198    580822     16216      LETTER SHAPE PENCIL SHARPENER        80
531039    580902     22086    PAPER CHAIN KIT 50'S CHRISTMAS         80
533586    581068     23275   SET OF 3 HANGING OWLS OLLIE BEAK        80
538588    581410     22086    PAPER CHAIN KIT 50'S CHRISTMAS         80

               InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
46     2010-12-01 09:00:00       2.55     13748.0  United Kingdom       204.0
1228   2010-12-01 13:23:00       2.55     15485.0  United Kingdom       204.0
1333   2010-12-01 13:45:00       1.69     18144.0  United Kingdom       135.2
5226   2010-12-03 09:39:00       2.55     13408.0  United Kingdom       204.0
7432   2010-12-05 10:12:00       2.55     15465.0  United Kingdom       204.0
...                    ...        ...         ...             ...         ...
530197 2011-12-06 11:33:00       0.06     17884.0  United Kingdom         4.8
530198 2011-12-06 11:33:00       0.06     17884.0  United Kingdom         4.8
531039 2011-12-06 12:50:00       2.55     13881.0  United Kingdom       204.0
533586 2011-12-07 11:26:00       1.25     16191.0  United Kingdom       100.0
538588 2011-12-08 14:14:00       2.55     13098.0  United Kingdom       204.0

[159 rows x 9 columns]

In [10]:
# Filtración por tiempo

# Filtrar ventas por 'InvoiceDate' == 2011
# Utilizamos .dt.year para extraer solo el año
sales_2010 = sales_data[sales_data['InvoiceDate'].dt.year == 2010]
print(sales_2010)

      InvoiceNo StockCode                          Description  Quantity  \
0        536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1        536365     71053                  WHITE METAL LANTERN         6
2        536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3        536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4        536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...         ...       ...                                  ...       ...
42448    539988     84380    SET OF 3 BUTTERFLY COOKIE CUTTERS         1
42449    539988    84849D                HOT BATHS SOAP HOLDER         1
42450    539988    84849B               FAIRY SOAP SOAP HOLDER         1
42451    539988     22854          CREAM SWEETHEART EGG HOLDER         2
42452    539988    47559B                  TEA TIME OVEN GLOVE         2

              InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
0     2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1     2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2     2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3     2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4     2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
...                   ...        ...         ...             ...         ...
42448 2010-12-23 16:06:00       1.25     18116.0  United Kingdom        1.25
42449 2010-12-23 16:06:00       1.69     18116.0  United Kingdom        1.69
42450 2010-12-23 16:06:00       1.69     18116.0  United Kingdom        1.69
42451 2010-12-23 16:06:00       4.95     18116.0  United Kingdom        9.90
42452 2010-12-23 16:06:00       1.25     18116.0  United Kingdom        2.50

[26850 rows x 9 columns]

In [11]:
# Filtrar por año y por mes, dic 2010
# El mes se indica en número
sales_dec_2010 = sales_data[(sales_data['InvoiceDate'].dt.year == 2010) &
                            (sales_data['InvoiceDate'].dt.month == 12)]
print(sales_dec_2010)

      InvoiceNo StockCode                          Description  Quantity  \
0        536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1        536365     71053                  WHITE METAL LANTERN         6
2        536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3        536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4        536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...         ...       ...                                  ...       ...
42448    539988     84380    SET OF 3 BUTTERFLY COOKIE CUTTERS         1
42449    539988    84849D                HOT BATHS SOAP HOLDER         1
42450    539988    84849B               FAIRY SOAP SOAP HOLDER         1
42451    539988     22854          CREAM SWEETHEART EGG HOLDER         2
42452    539988    47559B                  TEA TIME OVEN GLOVE         2

              InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
0     2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1     2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2     2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3     2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4     2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
...                   ...        ...         ...             ...         ...
42448 2010-12-23 16:06:00       1.25     18116.0  United Kingdom        1.25
42449 2010-12-23 16:06:00       1.69     18116.0  United Kingdom        1.69
42450 2010-12-23 16:06:00       1.69     18116.0  United Kingdom        1.69
42451 2010-12-23 16:06:00       4.95     18116.0  United Kingdom        9.90
42452 2010-12-23 16:06:00       1.25     18116.0  United Kingdom        2.50

[26850 rows x 9 columns]